{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
              Overview
            </div>
            <h2 class="page-title">
              DB Manager
            </h2>
          </div>
          <!-- Page title actions -->
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
              <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#dataModal" data-bs-backdrop="static">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                Cargar Access
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          <div class="col-lg-12">
            <div class="card">
              <div class="">
                <h3 class="my-3 mx-3">Actualizaciones realizadas en la base de datos principal</h3>
                <table class="table table-vcenter card-table table-striped" id="databases-table">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th width="200">Nombre</th>
                      <th>Versión</th>
                      <th>Archivo</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

  {% block modal %}
  <div class="modal modal-blur fade" id="dataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Actualizar base de datos</h5>
          <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-center">Seleccione un archivo Access (.mdb) para actualizar la base de datos principal.</p>
          <p class="text-center">Se creara una copia de seguridad de la versión que se está utilizando actualmente.</p>
          <div class="mb-3">
            <form class="dropzone mb-2" id="dropzone-custom" action="./" autocomplete="off" novalidate >
              {% csrf_token %}
              <div class="fallback">
                <input name="file" type="file" disabled/>
              </div>
              <div class="dz-message">
                <h3 class="dropzone-msg-title">Cargar DB con actualizaciones</h3>
                <span class="dropzone-msg-desc">Suelta o haz click aqui para cargar</span>
              </div>
            </form>
          </div>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="name" id="inputName" placeholder="Nombre de la base de datos">
          </div>
          <div class="mb-3">
            <label class="form-label">Versión</label>
            <input type="text" class="form-control" name="version" id="inputVersion" placeholder="Versión de la base de datos">
          </div>
        </div>
        <div class="modal-footer">
          <div id="alert-container" class="row col-12"></div>
          <button id="cancelBtn" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button id="saveBtn" onclick="saveData()" class="btn btn-primary ms-auto">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
            Subir
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endblock modal %}

{% endblock content %}

{% block extrajs %}
<script src="{% static 'dist/libs/dropzone/dist/dropzone-min.js' %}?1684106062" defer></script>
<script src="{% static 'dist/libs/list.js/dist/list.min.js' %}?1684106062" defer></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>

<script>
// Definir myDropzone en el ámbito global

let myDropzone;



document.addEventListener('DOMContentLoaded', function () {

// Configuración de DataTables
const table = $('#databases-table').DataTable({
  ajax: {
    url: '/api/databases', // Ruta de la API
    dataSrc: 'data' // Accede a la propiedad "data" del JSON
  },
  columns: [
    { data: 'upload_date', title: 'Fecha' }, // Columna Fecha
    { data: 'name', title: 'Nombre' },       // Columna Nombre
    { data: 'version', title: 'Versión' },   // Columna Versión
    { data: 'file', title: 'Archivo' },       // Columna Archivo
  ],
  order: [[0, "desc"]],
  language: {
    url: '{% static 'static/es-ES.json' %}' // Lenguaje en español
  },
  searching: false, // Desactiva el buscador
  pageLength: 10,   // Muestra 10 registros por página
  paging: true      // Activa el paginador
});

table.on('draw', function () {
   
  // Texto bajo tabla
  const dt = document.querySelector('.dt-info');
  dt.style.marginLeft = '15px';
  dt.style.marginBottom = '8px';

  // Cantidad de registros
  const dtLengthContainer = document.querySelector('.dt-length');
  const dtLengthContainerLabel = document.querySelector('.dt-length > label');
  const dtLengthContainerSelect = document.querySelector('.dt-length > select');

  dtLengthContainer.style.paddingLeft = '10px';
  dtLengthContainer.style.height = 'auto';
  dtLengthContainerLabel.style.display = 'inline-block';
  dtLengthContainerSelect.style.width = 'auto';
  dtLengthContainerSelect.style.marginRight = '5px';
  dtLengthContainerSelect.style.display = 'inline-block';

  // Paginador
  const dtPaging = document.querySelector('.dt-paging');
  dtPaging.style.paddingTop = '10px';
  dtPaging.style.paddingRight = '20px';
});


  

// Funciona, vanilla JS
/*
fetch("/api/databases/")
  .then(response => response.json())
  .then(data => {
      let tbody = document.getElementById("databases-body");
      tbody.innerHTML = ""; // Limpiar antes de agregar nuevos datos

      data.data.forEach(archivo => {
          let fila = `
              <tr>
                  <td>${archivo.upload_date}</td>
                  <td>${archivo.name}</td>
                  <td>${archivo.version}</td>
                  <td><a href="/media/${archivo.file}" target="_blank">${archivo.file}</a></td>
                  <td>${archivo.status}</td>
              </tr>
          `;
          tbody.innerHTML += fila;
      });
  })
  .catch(error => console.error("Error al obtener los datos:", error));
*/



  const dataModal = new bootstrap.Modal(document.getElementById('dataModal'), {
    backdrop: 'static', // Evita que el modal se cierre al hacer clic fuera
    keyboard: false,    // Evita que el modal se cierre al presionar la tecla Esc
  }); 

  const inputName = document.querySelector('#inputName');
  const inputVersion = document.querySelector('#inputVersion');

  //modal.show();
  //progressModal.show();
  Dropzone.autoDiscover = false;
  myDropzone = new Dropzone("#dropzone-custom", {
      paramName: "file",
      maxFilesize: 100, // Tamaño máximo en MB
      acceptedFiles: ".mdb", // Solo aceptar archivos .mdb
      addRemoveLinks: false, // Mostrar enlaces para eliminar archivos
      autoProcessQueue: true, // Subir automáticamente el archivo
      maxFiles: 1,
      previewTemplate: `
      <div class="dz-preview dz-file-preview">
          <div class="dz-details">
              <div class="dz-filename"><span data-dz-name></span></div>
          </div>
          <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
          <div class="dz-error-message"><span data-dz-errormessage></span></div>
      </div>
      `,
      dictInvalidFileType: "Debes seleccionar un archivo .mdb (Access)",
      dictMaxFilesExceeded: "No puedes subir más archivos.",
      init: function () {
          // Evento cuando se añade un archivo
          this.on("addedfile", function (file) {
            console.log("Archivo añadido:", file.name);

          });

          // Evento cuando se completa la subida
          this.on("success", function (file, response) {
            
            // Cargar nombre en input
            if (inputName) {
              inputName.setAttribute('value', file.name);
            }
            
            // Obtener versión del archivo
            const fileName = file.name;
            const revIndex = fileName.indexOf("Rev.");

            if (revIndex !== -1) { // Verificar que "Rev." esté presente
              const revText = fileName.substring(revIndex);
              const finalText = revText.replace(/\.mdb$/, ""); // Eliminar ".mdb" al final
                // Cargar version en input
                if (inputVersion) {
                inputVersion.setAttribute('value', finalText);
              } 
            }            

          });

          // Evento cuando hay un error en la subida
          this.on("error", function (file, errorMessage) {
              console.error("Error al subir el archivo:", errorMessage);
          });

          // Evento cuando se elimina un archivo
          this.on("removedfile", function (file) {
              console.log("Archivo eliminado:", file.name);
          });
      }
  });
});

// Si se cierra el modal, cancelar la carga y limpiar formulario
document.getElementById('dataModal').addEventListener('hidden.bs.modal', function () {
  cleanForm();
  loadingState(false);
});

document.getElementById('dataModal').addEventListener('shown.bs.modal', function () {

});

// Función para guardar los datos del modal
function saveData() {
    const inputNameValue = document.querySelector('#inputName').value;
    const inputVersionValue = document.querySelector('#inputVersion').value;
    const saveBtn = document.getElementById('saveBtn');

    if (!myDropzone) {
        console.error("myDropzone no está definida.");
        return;
    }

    // Validar que los campos no estén vacíos
    if (!inputNameValue || !inputVersionValue) {
      showAlert("Por favor, complete todos los campos.", "warning");
      return;
    }

    // Obtener el archivo subido
    const files = myDropzone.getAcceptedFiles(); // Obtener los archivos subidos
    if (files.length === 0) {
      showAlert("Hubo un error con el archivo adjunto.", "warning");
      return;
    }

    loadingState(true);
    

    const file = files[0]; // Obtener el primer archivo subido

    // Crear un objeto FormData para enviar el archivo y los datos adicionales
    const formData = new FormData();
    formData.append('file', file); // Archivo subido
    formData.append('data', JSON.stringify({ inputNameValue, inputVersionValue })); // Datos adicionales

    // Enviar los datos al servidor
    fetch('/upload-mdb/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: formData // Usar FormData en lugar de JSON
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            showAlert(data.message, "success");
            saveBtn.innerHTML = "Cerrar";
            saveBtn.removeAttribute('onclick');
            saveBtn.setAttribute('data-bs-dismiss', 'modal');
            saveBtn.disabled = false;
        } else {
            showAlert(data.message, "danger");
        }
    })
    .catch(error => {
        console.error("Error:", error);
        showAlert("Hubo un error al guardar la base de datos.", "danger");
    });
}

function loadingState(state){
  const alertContainer = document.getElementById('alert-container');
  const saveBtn = document.getElementById('saveBtn');
  const cancelBtn = document.getElementById('cancelBtn');
  const closeBtn = document.getElementById('closeBtn');
  const inputName = document.querySelector('#inputName');
  const inputVersion = document.querySelector('#inputVersion');
  
  if (state) { 
    alertContainer.innerHTML = `
    <div class="progress progress-sm">
      <div class="progress-bar progress-bar-indeterminate"></div>
    </div>
    `;
    saveBtn.disabled = true;
    cancelBtn.disabled = true;
    closeBtn.disabled = true;
    inputName.disabled = true;
    inputVersion.disabled = true;
    myDropzone.disable();
  } else {
    saveBtn.removeAttribute('data-bs-dismiss');
    saveBtn.setAttribute('onclick', 'saveData()');
    saveBtn.innerHTML = `
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 5l0 14" />
      <path d="M5 12l14 0" />
    </svg>
    Subir
    `;
    saveBtn.disabled = false;
    cancelBtn.disabled = false;
    closeBtn.disabled = false;
    inputName.disabled = false;
    inputVersion.disabled = false;
    myDropzone.enable();
  }
}

function cleanForm(){
  const files = myDropzone.getAcceptedFiles();
  const inputName = document.querySelector('#inputName');
  const inputVersion = document.querySelector('#inputVersion');
  const alertContainer = document.getElementById('alert-container');

  if (files.length > 0) {
    myDropzone.removeFile(files[0]);
    console.log("Archivo eliminado y carga cancelada.");
  }
  if (inputName) {
    inputName.setAttribute('value', '');
  }
  if (inputVersion) {
    inputVersion.setAttribute('value', '');
  }
  if(alertContainer) {
    alertContainer.innerHTML = '';
  }
}

function showAlert(message, type = "success") {
    const alertContainer = document.getElementById('alert-container');

    // Crear la alerta
    const alert = document.createElement('div');
    alert.className = `alert alert-important alert-${type} alert-dismissible fade show`;
    alert.role = "alert";

    // Contenido de la alerta
    alert.innerHTML = `
        ${message}
    `;

    // Agregar la alerta al contenedor
    alertContainer.innerHTML = ''; // Limpiar alertas anteriores
    alertContainer.appendChild(alert);
}
  

</script>
{% endblock extrajs %}

{% block extrastyle %}
<style>
/* Estilos base de Dropzone */
.dropzone {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropzone:hover {
    background-color:#e3e4e5;
    border-color: #007bff;
}


/* Estilos para el modo claro */
[data-bs-theme="light"] .dropzone {
    border: 1px dashed #ccc;
    background-color: #fff;
    color: #000;
}

[data-bs-theme="light"] .dropzone:hover {
    background-color: #f9f9f9;
    border-color: #007bff;
}

/* Estilos para el modo oscuro */
[data-bs-theme="dark"] .dropzone {
    border: 1px dashed #555;
    background-color: #151f2c;
    color: #fff;
}

[data-bs-theme="dark"] .dropzone:hover {
    background-color: #182433;
    border-color: #1e90ff;
}

/* Estilos para el modo automático (basado en la preferencia del sistema) */
[data-bs-theme="auto"] .dropzone {
    border: 2px dashed #ccc;
    background-color: #fff;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    [data-bs-theme="auto"] .dropzone {
        border: 2px dashed #555;
        background-color: #333;
        color: #fff;
    }

    [data-bs-theme="auto"] .dropzone:hover {
        background-color: #444;
        border-color: #1e90ff;
    }
}

.markdown>table>:not(caption)>*>*, .table>:not(caption)>*>* {
  padding: .50rem .50rem !important;
  
}

tbody, td, tfoot, th, thead, tr {
  font-weight: 300;
  padding: .50rem .50rem !important;
}




</style>
{% endblock extrastyle %}