{% extends 'layouts/base.html' %}
{% block title %}New test - TTDB{% endblock title %}

{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          <div class="col-lg-12">
            <div class="card">
              <form method="POST" action="{% url 'new_test' %}">
                {% csrf_token %}
                <div class="card-header">
                  <h3 class="card-title">Nueva prueba</h3>
                </div>
                <div class="card-body">
                    
                    <div class="row">
                      <div class="col">
                        <div class="mb-3">
                          <label class="form-label" for="connector">Conector ({{ connectors|length }})</label>
                          <select type="text" class="form-select" id="connector" name="connector" required>
                            <option value="" disabled selected>Seleccione un conector...</option>
                            {% for connector in connectors %}
                                <option value="{{ connector }}">{{ connector }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <label class="form-label" for="test_type">Tipo de prueba</label>
                        <select class="form-select" id="test_type" name="test_type" required>
                          <option value="" disabled selected>Seleccione el tipo de prueba...</option>
                          <option value="Pin to chasis">Pin to chasis</option>
                          <option value="Pin to others">Pin to others</option>
                          <option value="Test pair">Test pair</option>
                          <option value="Pin to pin">Pin to pin</option>
                        </select>
                      </div>
                    </div>
                  

                  {% if error %}
                  <div class="alert alert-important alert-warning alert-dismissible" role="alert">
                    <div class="alert-icon">
                      <!-- Download SVG icon from http://tabler.io/icons/icon/alert-circle -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                        <path d="M12 8v4"></path>
                        <path d="M12 16h.01"></path>
                      </svg>
                    </div>
                    <div>
                      <h4 class="alert-heading">{{ error }}</h4>
                    </div>
                    <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                  </div>
                  {% endif %}

                </div>
                <div class="card-footer text-end">
                  <button type="submit" class="btn btn-primary">Generar esquema</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

  {% block modal %}
  <div class="modal modal-blur fade" id="dataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Actualizar base de datos</h5>
          <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
          <p class="text-center">Seleccione un archivo Access (.mdb) para actualizar la base de datos principal.</p>
          <p class="text-center">Se creara una copia de seguridad de la versión que se está utilizando actualmente.</p>
          <div class="mb-3">
            <form class="dropzone mb-2" id="dropzone-custom" action="{% url 'edit_db' %}" autocomplete="off" novalidate >
              {% csrf_token %}
              <div class="fallback">
                <input name="file" type="file" />
              </div>
              <div class="dz-message">
                <h3 class="dropzone-msg-title">Cargar DB con actualizaciones</h3>
                <span class="dropzone-msg-desc">Suelta o haz click aqui para cargar</span>
              </div>
            </form>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputName">Nombre</label>
            <div class="input-icon" id="inputNameHolder">
              <input type="text" class="form-control" name="name" id="inputName" placeholder="Nombre de la base de datos" autocomplete="off">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputVersion">Versión</label>
            <div class="input-icon" id="inputVersionHolder">
              <input type="text" class="form-control" name="version" id="inputVersion" placeholder="Versión de la base de datos">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div id="alert-container" class="row col-12">
          </div>
          <button id="cancelBtn" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button id="saveBtn" onclick="saveData()" class="btn btn-primary ms-auto">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
            Subir
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-blur fade" id="processModal" tabindex="-1" style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="processTitle">Procesando..</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnCloseModalx" disabled></button>
        </div>
        <div class="modal-body" id="processBody">
        <!--
          <div class="d-block my-1"><span class="text-green">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 12l2 2l4 -4" /></svg>
            </span><p class="text-muted d-inline mx-2">Cargando base de datos</p>
          </div>
          <div class="d-block my-1"><div class="spinner-border spinner-border-sm" style="margin-left: 2px;" role="status"></div><p class="text-muted d-inline" style="margin-left: 14px;">Cargando base de datos</p></div>
          <div class="d-block my-1"><div class="spinner-border spinner-border-sm" style="margin-left: 2px;" role="status"></div><p class="text-muted d-inline" style="margin-left: 14px;">Cargando base de datos este es un texto un poco mas largo de lo normal para ver que pasa si alcanza el borde</p></div>
          -->
        </div>
        <div class="modal-body" id="progressBody"></div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal" id="btnCloseModal" disabled>Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock modal %}

{% endblock content %}

{% block extrajs %}
<script src="{% static 'dist/libs/dropzone/dist/dropzone-min.js' %}?1684106062" defer></script>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>

<script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
<script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>

<script src="{% static 'dist/libs/tom-select/dist/js/tom-select.base.min.js' %}?1684106062" defer></script>


<script>

document.addEventListener('DOMContentLoaded', function () {

  var el;
  window.TomSelect && (new TomSelect(el = document.getElementById('connector'), {
    copyClassesToDropdown: false,
    dropdownParent: 'body',
    controlInput: '<input>',
    maxOptions: null,
    render:{
      item: function(data,escape) {
        if( data.customProperties ){
          return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
        }
        return '<div>' + escape(data.text) + '</div>';
      },
      option: function(data,escape){
        if( data.customProperties ){
          return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
        }
        return '<div>' + escape(data.text) + '</div>';
      },
    },
  }));



});
</script>
{% endblock extrajs %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
<style>

/* Estilos base de Dropzone */
.dropzone {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropzone:hover {
    background-color:#e3e4e5;
    border-color: #007bff;
}


/* Estilos para el modo claro */
[data-bs-theme="light"] .dropzone {
    border: 1px dashed #ccc;
    background-color: #fff;
    color: #000;
}

[data-bs-theme="light"] .dropzone:hover {
    background-color: #f9f9f9;
    border-color: #007bff;
}

/* Estilos para el modo oscuro */
[data-bs-theme="dark"] .dropzone {
    border: 1px dashed #555;
    background-color: #151f2c;
    color: #fff;
}

[data-bs-theme="dark"] .dropzone:hover {
    background-color: #182433;
    border-color: #1e90ff;
}

/* Estilos para el modo automático (basado en la preferencia del sistema) */
[data-bs-theme="auto"] .dropzone {
    border: 2px dashed #ccc;
    background-color: #fff;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    [data-bs-theme="auto"] .dropzone {
        border: 2px dashed #555;
        background-color: #333;
        color: #fff;
    }

    [data-bs-theme="auto"] .dropzone:hover {
        background-color: #444;
        border-color: #1e90ff;
    }
}

.markdown>table>:not(caption)>*>*, .table>:not(caption)>*>* {
  padding: .50rem .50rem !important;
  
}

tbody, td, tfoot, th, thead, tr {
  font-weight: 300;
  padding: .50rem .50rem !important;
}

thead tr, tbody tr {
  text-align: center;
}

.dt-empty {
  text-align: center;
}

</style>
{% endblock extrastyle %}