{% extends 'layouts/base.html' %}
{% block title %}Resumen de prueba - {% endblock title %}

{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <h2 class="page-title">
              Resumen de prueba
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">

        <div class="row row-deck row-cards">
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="subheader">Conector en prueba</div>
                </div>
                <div class="h2">{{ session.connector }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="subheader">Tipo de prueba</div>
                </div>
                <div class="h2">{{ session.test_type }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="subheader">Etapas</div>
                </div>
                <div class="h2">{{ stages_count }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="subheader">Estado</div>
                </div>
                <div class="h2">
                  {% if session.status == "in_progress" %}
                  <span class="status status-warning">
                    <span class="status-dot"></span>
                    {{ session.get_status_display }}
                  </span>
                  {% elif session.status == "pending" %}
                  <span class="status status-secondary">
                    <span class="status-dot"></span>
                    {{ session.get_status_display }}
                  </span>
                  {% elif session.status == "completed" %}
                  <span class="status status-success">
                    <span class="status-dot"></span>
                    {{ session.get_status_display }}
                  </span>
                  {% else %}
                  <span class="status status-secondary">
                    <span class="status-dot"></span>
                    {{ session.get_status_display }}
                  </span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        {% for stage in stages %}
        <div class="card mt-4">
          <div class="card-header bg-teal-lt text-white">
            <div>
              <h4 class="card-title">Etapa {{ stage.stage_number }} - Conectar: {{ stage.connector_dest }}</h4>
            </div>
            <div class="card-actions">
              <a href="{% url 'test_stage' session_id=stage.session.id stage_id=stage.id %}" class="btn btn-primary">Ver detalles</a>
            </div>
          </div>
          <div class="card-body">
            <p><strong>Instrucciones:</strong> {{ stage.instructions }}</p>

            <table id="table-{{ stage.id }}" class="table table-striped">
              <thead>
                <tr>
                    <th>Señal</th>
                    <th>Conector Origen</th>
                    <th>Pin Origen</th>
                    <th>Conector Destino</th>
                    <th>Pin Destino</th>
                    <th>Esperado (min)</th>
                    <th>Esperado (max)</th>
                    <th>Medido</th>
                    <th>Resultado</th>
                    <th>Hora</th>
                </tr>
              </thead>
              <tbody>
                {% for result in stage.results.all %}
                <tr>
                    <td>{{ result.signal_name }}</td>
                    <td>{{ result.conector_orig }}</td>
                    <td>{{ result.pin_a }}</td>
                    <td>{{ result.conector_dest }}</td>
                    <td>{{ result.pin_b }}</td>
                    <td>{{ result.min_exp_value|default:"-" }}</td>
                    <td>{{ result.max_exp_value|default:"-" }}</td>
                    <td>{{ result.measured_value|default:"-" }}</td>
                    <td>
                        {% if result.result == "Pass" %}
                            <span class="badge bg-success text-default-fg">PASS</span>
                        {% elif result.result == "Fail" %}
                            <span class="badge bg-danger text-default-fg">FAIL</span>
                        {% else %}
                            <span class="badge bg-default text-default-fg">Pendiente</span>
                        {% endif %}
                    </td>
                    <td>{{ result.timestamp|date:"H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
          
      </div> <!-- Fin container-xl -->
    </div> <!-- Fin page body -->
    {% include 'includes/footer.html' %}
  </div> <!-- Fin wrapper -->

  {% block modal %}
  {% endblock modal %}

{% endblock content %}

{% block extrajs %}
<script src="{% static 'dist/libs/dropzone/dist/dropzone-min.js' %}?1684106062" defer></script>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>

<script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
<script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>

<script src="{% static 'dist/libs/tom-select/dist/js/tom-select.base.min.js' %}?1684106062" defer></script>


<script>

document.addEventListener('DOMContentLoaded', function () {

  var el;
  window.TomSelect && (new TomSelect(el = document.getElementById('connector'), {
    copyClassesToDropdown: false,
    dropdownParent: 'body',
    controlInput: '<input>',
    maxOptions: null,
    render:{
      item: function(data,escape) {
        if( data.customProperties ){
          return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
        }
        return '<div>' + escape(data.text) + '</div>';
      },
      option: function(data,escape){
        if( data.customProperties ){
          return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
        }
        return '<div>' + escape(data.text) + '</div>';
      },
    },
  }));

  {% for stage in stages %}
    $("#table-{{ stage.id }}").DataTable();
  {% endfor %}

});
</script>
{% endblock extrajs %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
<style>

/* Estilos base de Dropzone */
.dropzone {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropzone:hover {
    background-color:#e3e4e5;
    border-color: #007bff;
}


/* Estilos para el modo claro */
[data-bs-theme="light"] .dropzone {
    border: 1px dashed #ccc;
    background-color: #fff;
    color: #000;
}

[data-bs-theme="light"] .dropzone:hover {
    background-color: #f9f9f9;
    border-color: #007bff;
}

/* Estilos para el modo oscuro */
[data-bs-theme="dark"] .dropzone {
    border: 1px dashed #555;
    background-color: #151f2c;
    color: #fff;
}

[data-bs-theme="dark"] .dropzone:hover {
    background-color: #182433;
    border-color: #1e90ff;
}

/* Estilos para el modo automático (basado en la preferencia del sistema) */
[data-bs-theme="auto"] .dropzone {
    border: 2px dashed #ccc;
    background-color: #fff;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    [data-bs-theme="auto"] .dropzone {
        border: 2px dashed #555;
        background-color: #333;
        color: #fff;
    }

    [data-bs-theme="auto"] .dropzone:hover {
        background-color: #444;
        border-color: #1e90ff;
    }
}

.markdown>table>:not(caption)>*>*, .table>:not(caption)>*>* {
  padding: .50rem .50rem !important;
  
}

tbody, td, tfoot, th, thead, tr {
  font-weight: 300;
  padding: .50rem .50rem !important;
  white-space: normal !important;
  word-wrap: break-word;
  max-width: 200px; 
}

thead tr, tbody tr {
  text-align: center;
}

.dt-empty {
  text-align: center;
}

</style>
{% endblock extrastyle %}