{% extends 'layouts/base.html' %}
{% block title %}{{ session.connector }} ({{ stage_test.stage_number }}) - {% endblock title %}

{% load static %}
{% load admin_tabler %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <h2 class="page-title">
              {{ session.connector }}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        
        <div class="row row-cards">
          <div class="col-lg-12">
            

            <ol class="breadcrumb breadcrumb-arrows mb-3">
              <li class="breadcrumb-item">
                  <a href="{% url 'test_preview' session.id %}">Previsualización</a>
              </li>

              {% for stage in all_test_stages %}
                {% with stage.results.all|length as result_count %}
                  <li class="breadcrumb-item {% if stage.id == stage_test.id %}active{% endif %}">
                    {% if result_count == 0 %}
                      <del>
                        <a href="{% url 'test_stage' session.id test_stage_map|get_dict_value:stage.stage_number %}">
                          Etapa {{ stage.stage_number }}
                        </a>
                      </del>
                    {% else %}
                      <a href="{% url 'test_stage' session.id test_stage_map|get_dict_value:stage.stage_number %}">
                        Etapa {{ stage.stage_number }}
                      </a>
                    {% endif %}
                  </li>
                {% endwith %}
              {% endfor %}

              <li class="breadcrumb-item">
                <a href="{% url 'test_result' session.id %}">Resultados</a>
              </li>
            </ol>
                      
            <div class="card mt-5">
              <div class="card-header">
                <div>
                  <h3 class="card-title">Etapa {{ stage_test.stage_number }} de {{ all_test_stages|length }} - <span class="text-azure">{{ stage_test.connector_dest }}</span></h3>
                </div>
                <div class="card-actions">
                  <div class="row align-items-center">
                    <div class="col-auto" id="stageStatusContainer">
                      {% if stage_test.status == "pending" %}
                        <span class="status status-secondary">
                          <span class="status-dot"></span>
                          {{ stage_test.get_status_display }}
                        </span>
                      {% elif stage_test.status == "completed" %}
                        <span class="status status-success">
                          <span class="status-dot"></span>
                          {{ stage_test.get_status_display }}
                        </span>
                      {% elif stage_test.status == "unmeasurable" %}
                        <span class="status status-danger">
                          <span class="status-dot"></span>
                          {{ stage_test.get_status_display }}
                        </span>
                      {% else %}
                        <span class="status status-secondary">
                          <span class="status-dot"></span>
                          {{ stage_test.get_status_display }}
                        </span>
                      {% endif %}
                    </div>
                    
                    <div class="col-auto" id="btnStartTestContainer">
                      {% if stage_test.status == "pending" %}
                        <button type="button" class="btn btn-success" data-stage-id="{{ stage_test.id }}" id="btn-generar-instrucciones">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" />
                          </svg>
                          Comenzar
                        </button>
                      {% elif stage_test.status == "unmeasurable" %}
                        <button type="button" class="btn btn-outline-secondary disabled" disabled>
                          Sin datos
                        </button>
                      {% endif %}
                    </div>
                    
                  </div>
        
                </div>        
              </div>
              <div class="card-body" style="padding: 0;">
                <table id="testTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Señal</th>
                      <th>Tipo</th>
                      <th>Conector Origen</th>
                      <th>Pin Origen</th>
                      <th>Conector Destino</th>
                      <th>Pin Destino</th>
                      <th>Esperado (min)</th>
                      <th>Esperado (max)</th>
                      <th>Medido</th>
                      <th>Resultado</th>
                      <th>Hora</th>
                    </tr>
                  </thead>
                
                  {% if test_results %}
                  <tbody data-type="test">
                    {% for result in test_results %}
                    <tr data-result-id="{{ result.id }}">
                      <td class="cell-signal">{{ result.signal_name }}</td>
                      <td class="cell-signal_type">{{ result.signal_type }}</td>
                      <td class="cell-orig">{{ result.conector_orig }} <span class="text-secondary">({{ result.conector_orig_type }})</span></td>
                      <td class="cell-pin-a" title="{{ result.tooltip_a }}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="tooltip-table">{{ result.pin_a }}</td>
                      <td class="cell-dest">{{ result.conector_dest }} <span class="text-secondary">({{ result.conector_dest_type }})</span></td>
                      <td class="cell-pin-b" title="{{ result.tooltip_b }}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="tooltip-table">{{ result.pin_b }}</td>
                      <td class="cell-min">{{ result.min_exp_value|default:"-" }}</td>
                      <td class="cell-max">{{ result.max_exp_value|default:"-" }}</td>
                      <td class="cell-measured">{{ result.measured_value|default:"-" }}</td>
                      <td class="cell-result">
                        {% if result.result == "pass" %}
                        <span class="badge badge-outline text-green">{{ result.result_display }}</span>
                        {% elif result.result == "fail" %}
                        <span class="badge badge-outline text-red">{{ result.result_display }}</span>
                        {% else %}
                        <span class="badge bg-default text-default-fg">{{ result.result_display }}</span>
                        {% endif %}
                      </td>
                      <td class="cell-time">{{ result.timestamp|date:"H:i d/m/y" }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  {% else %}
                  <tbody data-type="reference">
                    {% for result in reference_results %}
                    <tr>
                      <td class="cell-signal">{{ result.signal_name }}</td>
                      <td class="cell-signal_type">{{ result.signal_type }}</td>
                      <td class="cell-orig">{{ result.conector_orig }} <span class="text-secondary">({{ result.conector_orig_type }})</span></td>
                      <td class="cell-pin-a">{{ result.pin_a }}</td>
                      <td class="cell-dest">{{ result.conector_dest }} <span class="text-secondary">({{ result.conector_dest_type }})</span></td>
                      <td class="cell-pin-b">{{ result.pin_b }}</td>
                      <td class="cell-min">{{ result.min_exp_value|default:"-" }}</td>
                      <td class="cell-max">{{ result.max_exp_value|default:"-" }}</td>
                      <td class="cell-measured">{{ result.measured_value|default:"-" }}</td>
                      <td class="cell-result">
                        {% if result.result == "pass" %}
                        <span class="badge badge-outline text-green">{{ result.result_display }}</span>
                        {% elif result.result == "fail" %}
                        <span class="badge badge-outline text-red">{{ result.result_display }}</span>
                        {% else %}
                        <span class="badge bg-default text-default-fg">{{ result.result_display }}</span>
                        {% endif %}
                      </td>
                      <td class="cell-time">{{ result.timestamp|date:"H:i d/m/y" }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  {% endif %}
                </table>
                
                
                <div class="px-3" id="alertContainer">
                  <div class="alert alert-important alert-info alert-dismissible" role="alert" id="infoAlert">
                    <div class="alert-icon">
                      <!-- Download SVG icon from http://tabler.io/icons/icon/info-circle -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                        <path d="M12 9h.01"></path>
                        <path d="M11 12h1v4h1"></path>
                      </svg>
                    </div>
                    <div>
                      <h4 class="alert-heading">Los datos pin origen y pin destino de esta tabla pueden haberse modificado para la correcta interpretación del hardware.</h4>
                      <div class="alert-description">Puedes verificar los datos originales pasando el cursor por encima o ver la tabla de referencia en previsualización.</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            {% if prev_stage_id or next_stage_id %}
            <div class="card mt-4">
              <div class="card-body">
                <ul class="pagination">
                  {% if prev_stage_id %}
                  <li class="page-item page-prev">
                    <a class="page-link" href="{% url 'test_stage' session.id prev_stage_id %}">
                      <div class="page-item-subtitle">anterior</div>
                      <div class="page-item-title">Etapa {{ prev_stage_number }}</div>
                    </a>
                  </li>
                  {% endif %}
                  
                  {% if next_stage_id %}
                  <li class="page-item page-next">
                    <a class="page-link" href="{% url 'test_stage' session.id next_stage_id %}">
                      <div class="page-item-subtitle">siguiente</div>
                      <div class="page-item-title">Etapa {{ next_stage_number }}</div>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            {% endif %}

            <!-- Contenedor para toasts -->
            <div id="toastContainer" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1055"></div>

          </div> 
        </div>     
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

  {% block modal %}

  <div class="modal modal-blur fade" id="instruccionesModal" tabindex="-1" aria-labelledby="instruccionesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="instruccionesModalLabel">Instrucciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body d-grid gap-3" id="instrucciones-modal-body">
          <!-- Aquí se insertan dinámicamente las instrucciones -->
        </div>
        <div class="modal-footer" id="instrucciones-modal-footer">
          <button class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-stage-id="{{ stage_test.id }}" id="btn-start-test" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="currentColor"
                class="icon icon-tabler icons-tabler-filled icon-tabler-player-play">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"/>
            </svg>
            Comenzar
          </button>
        </div>
      </div>
    </div>
  </div>


  {% endblock modal %}

{% endblock content %}

{% block extrajs %}

<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'js/dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.js' %}"></script>

<script>

document.addEventListener('DOMContentLoaded', function () {

  
    function showToast(msg, type = "info") {
      const toast = document.createElement("div");
      toast.className = `toast align-items-center text-white bg-${type} border-0 my-1`;
      toast.setAttribute("role", "alert");
      toast.setAttribute("aria-live", "assertive");
      toast.setAttribute("aria-atomic", "true");
      toast.innerHTML = `
        <div class="d-flex">
          <div class="toast-body">${msg}</div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>`;
      document.getElementById("toastContainer").appendChild(toast);
      new bootstrap.Toast(toast).show();
      toast.addEventListener("hidden.bs.toast", () => toast.remove());
    }

    function showInlineAlert(container, message, type = "info", replace=true) {
      const icons = {
        info: `
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
            <path d="M12 9h.01"></path>
            <path d="M11 12h1v4h1"></path>
          </svg>`,
        warning: `
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
            <path d="M12 9v4"></path>
            <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path>
            <path d="M12 16h.01"></path>
          </svg>`,
        danger: `
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
            <path d="M12 8v4"></path>
            <path d="M12 16h.01"></path>
          </svg>`,
        success: `
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
            <path d="M5 12l5 5l10 -10"></path>
          </svg>`
      };

      const icon = icons[type] || icons.info;

      const html = `
        <div class="alert alert-important alert-${type} alert-dismissible my-0" role="alert">
          <div class="alert-icon">${icon}</div>
          <div>${message}</div>
        </div>
      `;
      
      replace ? container.innerHTML = html : container.innerHTML += html;

    }

    function getCSRFToken() {
      let value = null;
      if (document.cookie) {
        document.cookie.split(";").forEach(cookie => {
          if (cookie.trim().startsWith("csrftoken=")) {
            value = cookie.trim().substring("csrftoken=".length);
          }
        });
      }
      return value;
    }

  
  let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  tooltipTriggerList.forEach(function(tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl);
  });

  function isMesurable () {
    const table = document.querySelector('#testTable');
    const hasReferenceTbody = document.querySelector('tbody[data-type="reference"]') !== null;
    const startButton = document.querySelector('#startTest');
    const infoAlert = document.querySelector('#infoAlert');
    const alertContainer = document.querySelector('#alertContainer');
    

    // Verificar si el tbody está vacío (sin filas)
    if (hasReferenceTbody) {
      
      infoAlert.remove();
      const alertHTML = `
      <div class="alert alert-important alert-warning alert-dismissible mt-3" role="alert">
          <div class="alert-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
                  <path d="M12 9v4"></path>
                  <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path>
                  <path d="M12 16h.01"></path>
              </svg>
          </div>
          <div>
              <h4 class="alert-heading">No hay conexiones medibles para este conector.</h4>
              <div class="alert-description">Se muestra tabla con datos reales que fueron descartados para medición.</div>
          </div>
          <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
      </div>
      `;
      alertContainer.innerHTML = alertHTML;
      table.style.opacity = '0.5';

      // 3. Deshabilitar el botón #startTest (si existe)
      if (startButton) {
        startButton.disabled = true;
      }
    }
  }

  isMesurable();



  // =======================
  // Generación de instrucciones
  // =======================
  // Se ve mejor sin datatables, activar de ser necesario

  /*
  const table = new DataTable("#testTable", {
    paging: false,
    searching: false,
    info: false,
    ordering: false,
    lengthChange: false,
    language: {
      url: "{% static 'datatables/datatables_es-ES.json' %}"
    }
  });*/

  // =======================
  // Generación de instrucciones
  // =======================
  
  
  const startButton = document.getElementById("btn-generar-instrucciones");
  
  document.getElementById("btn-generar-instrucciones").addEventListener("click", function () {
    const stageId = this.getAttribute("data-stage-id");
    const modal = new bootstrap.Modal(document.getElementById("instruccionesModal"));
    const modalBody = document.getElementById("instrucciones-modal-body");
    const btnComenzar = document.getElementById("btn-start-test");

    // Mostrar spinner mientras se cargan los datos
    modalBody.innerHTML = `
    <div class="text-center py-5">
      <div class="spinner-border text-primary" role="status"></div>
      <div class="mt-2 text-muted">Cargando instrucciones y revisando conexión con hardware..</div>
    </div>
    `;
    btnComenzar.disabled = true;
    btnComenzar.setAttribute("data-stage-id", stageId);
    modal.show();

    // Iniciar ambos fetch en paralelo
    const instruccionesPromise = fetch(`/api/stage/${stageId}/generate-instructions/`)
      .then(response => response.json());

    const checkHWPromise = fetch(`/api/check-required-hw/`)
      .then(response => response.json());

    // Ejecutar en paralelo
    Promise.all([instruccionesPromise, checkHWPromise])
      .then(([data, hw]) => {
        modalBody.innerHTML = "";
        // --- Instrucciones ---
        if (data.instructions && data.suggested_connector) {
          window._suggestedConnector = data.suggested_connector;

          data.instructions.forEach((linea, index) => {
            const div = document.createElement("div");
            div.className = "form-check mb-2";

            const checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.className = "form-check-input";
            checkbox.id = `instruccion-check-${index}`;

            const label = document.createElement("label");
            label.className = "form-check-label";
            label.setAttribute("for", checkbox.id);
            label.innerHTML = linea;

            checkbox.addEventListener("change", verificarCheckboxes);

            div.appendChild(checkbox);
            div.appendChild(label);
            modalBody.appendChild(div);
          });

          // Solo habilitar si no hubo errores de hardware y ya está todo marcado
          verificarCheckboxes();

        } else if (data.error) {
          showInlineAlert(modalBody, data.error.join("<br>"), "danger");
        }

        // --- Aviso de conectores deshabilitados ---
        if (data.disabled_connectors && data.disabled_connectors.length > 0) {
          const mensaje = `
            <strong>Existen conectores compatibles deshabilitados</strong>
            <a href="#" id="ver-mas-conectores" style="margin-left: 10px; font-size: 0.9em;">más información</a>
            <div id="lista-conectores" style="display: none; margin-top: 5px;">
              ${data.disabled_connectors.join("<br>")}
            </div>
          `;
          showInlineAlert(modalBody, mensaje, "info", false);

          // Activar "ver más" después de insertar el HTML
          setTimeout(() => {
            const link = document.getElementById("ver-mas-conectores");
            if (link) {
              link.addEventListener("click", function (e) {
                e.preventDefault();
                document.getElementById("lista-conectores").style.display = "block";
                link.style.display = "none";  // ocultar el enlace después de hacer clic
              });
            }
          }, 0);
        }


        // --- Verificación de hardware ---
        if (!hw.success && hw.errores && hw.errores.length > 0) {
          const mensajeHW = "<strong>Errores de conexión con el hardware:</strong><br>" +
                            hw.errores.join("<br>");
          showInlineAlert(modalBody, mensajeHW, "danger", false);
          btnComenzar.disabled = true;
        }
      })
      .catch(err => {
        modal.hide();
        showToast('Ocurrió un error al generar las instrucciones o verificar el hardware', 'warning');
        console.error(err);
      });
  });


  document.getElementById("instrucciones-modal-body").addEventListener("change", function (e) {
    if (e.target && e.target.classList.contains("form-check-input")) {
      verificarCheckboxes();
    }
  });

  function verificarCheckboxes() {
    const checkboxes = document.querySelectorAll("#instrucciones-modal-body .form-check-input");
    const btnComenzar = document.getElementById("btn-start-test");
    const todosMarcados = Array.from(checkboxes).every(checkbox => checkbox.checked);

    // Solo habilitar si no hubo errores de hardware
    const hayErroresHW = document.querySelector("#instrucciones-modal-body .alert-danger") !== null;
    btnComenzar.disabled = !(todosMarcados && !hayErroresHW);
  }


  // =======================
  // Correr prueba 
  // =======================

  const startTestButton = document.getElementById("btn-start-test");
    
  startTestButton.addEventListener("click", async () => {
    if(startTestButton.disabled){ return }
    
    startTestButton.disabled = true;
    startTestButton.textContent = "Ejecutando...";
    
    const rows = document.querySelectorAll("#testTable tbody[data-type='test'] tr");
    const sessionId = "{{ session.id }}";
    const stageId = "{{ stage_test.id }}";

    for (const row of rows) {
            
      const resultId = row.dataset.resultId;
      const { category: adapter_cnt_category, id: adapter_cnt_id } = window._suggestedConnector;


      if (!resultId || !adapter_cnt_category || !adapter_cnt_id) {
        console.warn("Fila sin resultId en dataset o sin categoría de adapter o sin adapterId");
        continue;
        }
        
        const response = await fetch("{% url 'run_test_stage' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
          },
          body: JSON.stringify({ 
            result_id: resultId,
            connector_category: adapter_cnt_category,  // fixed ó adapter
            connector_id: adapter_cnt_id
          })
        });
        
        const data = await response.json();
        
        if (data.success) {
          row.querySelector(".cell-measured").textContent = data.measured;
          const badgeClass = data.result === "pass" ? "text-green" : "text-red";
          row.querySelector(".cell-result").innerHTML = `<span class="badge badge-outline ${badgeClass}">${data.result_display}</span>`;
          row.querySelector(".cell-time").textContent = data.timestamp;
        } else {
          console.error("Error al medir:", data);
        }
      }
            
            
      // Actualizar status visual
      document.querySelector("#stageStatusContainer").innerHTML = `
      <span class="status status-success">
        <span class="status-dot"></span> Terminado
      </span>`;
      document.querySelector("#btnStartTestContainer").innerHTML = "";
      table.draw();
  });



});
</script>
{% endblock extrajs %}

{% block extrastyle %}
<style>
  .modal-body label {
    font-size: 16px;
  }
</style>
{% endblock extrastyle %}