{% extends 'layouts/base.html' %}
{% block title %}Resumen de prueba - {% endblock title %}

{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <h2 class="page-title">
              Resumen de prueba
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">

        <div class="row row-deck row-cards">
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="subheader">Conector en prueba</div>
                </div>
                <div class="h2">{{ session.connector }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="subheader">Tipo de prueba</div>
                </div>
                <div class="h2">{{ session.test_type }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="subheader">Etapas</div>
                </div>
                <div class="h2">{{ stages_count }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="subheader">Estado</div>
                </div>
                <div class="h2">
                  {% if session.status == "in_progress" %}
                  <span class="status status-warning">
                    <span class="status-dot"></span>
                    {{ session.get_status_display }}
                  </span>
                  {% elif session.status == "pending" %}
                  <span class="status status-secondary">
                    <span class="status-dot"></span>
                    {{ session.get_status_display }}
                  </span>
                  {% elif session.status == "completed" %}
                  <span class="status status-success">
                    <span class="status-dot"></span>
                    {{ session.get_status_display }}
                  </span>
                  {% else %}
                  <span class="status status-secondary">
                    <span class="status-dot"></span>
                    {{ session.get_status_display }}
                  </span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        {% for stage in stages %}
        <div class="card mt-4">
          <div class="card-header bg-teal-lt text-white">
            <div>
              <h4 class="card-title">Etapa {{ stage.stage_number }} - Conectar: {{ stage.connector_dest }}</h4>
            </div>
            <div class="card-actions">
              <div class="row align-items-center">
                <div class="col-auto">
                    {% if stage.status == "pending" %}
                    <span class="status status-secondary">
                      <span class="status-dot"></span>
                      {{ stage.get_status_display }}
                    </span>
                    {% elif stage.status == "completed" %}
                    <span class="status status-success">
                      <span class="status-dot"></span>
                      {{ stage.get_status_display }}
                    </span>
                    {% else %}
                    <span class="status status-secondary">
                      <span class="status-dot"></span>
                      {{ stage.get_status_display }}
                    </span>
                    {% endif %}
                </div>
                <div class="col-auto">
                  <a href="{% url 'test_stage' session_id=stage.session.id stage_id=stage.id %}" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p><strong>Instrucciones:</strong> {{ stage.instructions }}</p>
          </div>
          <div class="card-body card-body-dt">
            <table id="table-{{ stage.id }}" class="table table-striped">
              <thead>
                <tr>
                    <th>Señal</th>
                    <th>Conector Origen</th>
                    <th>Pin Origen</th>
                    <th>Conector Destino</th>
                    <th>Pin Destino</th>
                    <th>Esperado (min)</th>
                    <th>Esperado (max)</th>
                    <th>Medido</th>
                    <th>Resultado</th>
                    <th>Hora</th>
                </tr>
              </thead>
              <tbody>
                {% for result in stage.results.all %}
                <tr>
                    <td>{{ result.signal_name }}</td>
                    <td>{{ result.conector_orig }}</td>
                    <td>{{ result.pin_a }}</td>
                    <td>{{ result.conector_dest }}</td>
                    <td>{{ result.pin_b }}</td>
                    <td>{{ result.min_exp_value|default:"-" }}</td>
                    <td>{{ result.max_exp_value|default:"-" }}</td>
                    <td>{{ result.measured_value|default:"-" }}</td>
                    <td>
                        {% if result.result == "Pass" %}
                            <span class="badge bg-success text-default-fg">PASS</span>
                        {% elif result.result == "Fail" %}
                            <span class="badge bg-danger text-default-fg">FAIL</span>
                        {% else %}
                            <span class="badge bg-default text-default-fg">Pendiente</span>
                        {% endif %}
                    </td>
                    <td>{{ result.timestamp|date:"H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
          
      </div> <!-- Fin container-xl -->
    </div> <!-- Fin page body -->
    {% include 'includes/footer.html' %}
  </div> <!-- Fin wrapper -->

  {% block modal %}
  {% endblock modal %}

{% endblock content %}

{% block extrajs %}

<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'js/dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.js' %}"></script>

<script>

document.addEventListener('DOMContentLoaded', function () {





});
</script>
{% endblock extrajs %}

{% block extrastyle %}
{% endblock extrastyle %}